@import url('https://fonts.googleapis.com/css?family=Lato:100,400,700i&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    font-family: "Lato", sans-serif;
}

/*USED OFTEN*/

h1, h2, h3 {
    font-weight: 400;
    letter-spacing: 4px;
}



/*HEADER*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(/assets/images/beef_burger.jpg);  /*source: cssgradient.io*/
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
      
}

.header-name {
    text-align: center;
    color:#e0e0e0;                        
    padding: 300px;
    font-weight: 100;
    letter-spacing: 6px;
    font-size: 50px;
   

}

.reward {                       
    text-align: center;
    color: #e0e0e0;                        
    margin-bottom: 20px;
    font-weight: 100;
    letter-spacing: 2px;
    padding-top: 50px;
}

/*NAVIGATION*/


 .main-nav {
    list-style: none;
    font-size: 110%;
    letter-spacing: 4px;
    line-height: 85px;
}

.main-nav li {
    float: right;
    margin-right: 30px;
    font-weight: 100px;
    
}

.main-nav li a {
    text-decoration: none;
    color: #e0e0e0;
}

/*LINKS*/

.main-nav a:hover {
    border-bottom: 2px solid #e67e22;
}


/*BUTTONS*/

.booking {
    border-radius: 20px;
    background-color: #e67e22;
    color: #fff;
    border: none;
    padding: 10px 30px;
    width: 170px;
    margin-left: 45%;
    position: absolute;
    top: 500px;
    

    
}

.booking:hover {
    background-color: #e0e0e0;
    color: #000;
}


/*ABOUT US*/

.about-us {
     padding: 10px;
     padding-bottom: 20px;
     padding-top: 30px;
     
     
}

.about-us h1 {
    font-weight: 400;
    margin-top: 30px;
    letter-spacing: 1px;
}

.about-us p {
    color: #818181;
    margin-top: 30px;
    font-weight: bold;
    letter-spacing: 2px;
}

.divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #e67e22;
    margin:auto;
    margin-top: 15px;
}


cite img {
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}



blockquote::before {
    content: "\201C";  /*quotation source: https://www.w3schools.com/cssref/pr_gen_quotes.asp*/
}

blockquote {
    font-style: italic;
    font-weight: 100;
}

/*MENUS*/

.menus-container {
    padding: 100px 0px 0px 0px;
}

.menus-header, #starters, #mains, #desserts {
    list-style: none;
    padding-top: 30px;
}


/*GALLERY*/


/*CONTACT US*/


.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

.contact-us-header {
    padding-bottom: 5px;
    margin-top: 30px;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #e67e22;
}


/*FOOTER*/

footer {
    background-color: #3f3f3f;
    padding: 20px;
    color: #818181;
    width: 100%;
}


footer p {
    text-align: center;
}

.social {
    text-align: center;
}

.social-links {
    text-align: center;
}

.social-links li {
    display: inline;
    font-size: 50px;
    
}

.social-links li a i {
    color: #e67e22;
    padding: 0 10px;
}

.fa-tripadvisor:hover {
    color: #00af87;
} 

.fa-instagram:hover {
    color: #833AB4;
} 

.fa-twitter:hover {
    color: #1da1f2;
} 

.fa-facebook:hover {
    color: #3b5998;
} 