@import url('https://fonts.googleapis.com/css?family=Exo:400,500|Lato:100,400,700&display=swap');
 * {
     margin: 0;
     padding: 0;
     border: 0;
}
 html {
     scroll-behavior: smooth;
     overflow-x: hidden;
}
 html, body {
     font-family: 'Exo', sans-serif;
}
/*USED OFTEN*/
 h1, h2, h3 {
     font-weight: 400;
     letter-spacing: 4px;
}
/*HEADER*/
 header {
     background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))),url(../images/beef_burger.jpg);
     background-image: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(../images/beef_burger.jpg);
     background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(../images/beef_burger.jpg);
    /*source: cssgradient.io*/
     background-size: cover;
     background-position: center;
     height: 100vh;
     background-attachment: fixed;
}
 .header-name {
     color:#e0e0e0;
     font-weight: 100;
     letter-spacing: 6px;
     font-size: 90px;
}
 .header-name a {
     text-decoration: none;
     color: #e0e0e0;
}
 .reward {
     color: #e0e0e0;
     font-weight: 100;
     letter-spacing: 2px;
}
/*NAVIGATION*/
 .main-nav {
     font-size: 110%;
     letter-spacing: 4px;
     margin-bottom: 0;
     overflow: hidden;
}
 .fixed-top {
     -webkit-transition: 0.4s;
     -o-transition: 0.4s;
     transition: 0.4s;
}
 .main-nav .navbar-nav li a:hover {
     border-bottom: 2px solid #e67e22;
}
/*BUTTONS*/
 .booking {
     border-radius: 20px;
     background-color: #e67e22;
     color: #fff;
     border: none;
     padding: 10px 30px;
     width: 170px;
}
 .booking:hover {
     background-color: #e0e0e0;
     color: #000;
}
/*ABOUT US*/
 .about-us {
     padding: 10px;
     padding-bottom: 20px;
     padding-top: 30px;
     font-family: "Exo", sans-serif;
}
 .about-us h1 {
     font-weight: 400;
     margin-top: 30px;
     letter-spacing: 1px;
}
 .about-us p {
     color: #818181;
     margin-top: 30px;
     font-weight: bold;
     letter-spacing: 2px;
}
 .divider {
     width: 75px;
     height: 5px;
     border: 0;
     background-color: #e67e22;
     margin:auto;
     margin-top: 15px;
}
 cite img {
     height: 80px;
     border-radius: 50%;
     vertical-align: middle;
     margin-bottom: 1rem;
}
 blockquote::before {
     content: "\201C";
    /*quotation source: https://www.w3schools.com/cssref/pr_gen_quotes.asp*/
}
 blockquote {
     font-style: italic;
     font-weight: 100;
}
/*MENUS*/
 .menus {
     background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(83, 83, 83, 0.7)), to(rgba(83, 83, 83, 0.7))), url(../images/menus-background.jpg);
     background-image: -o-linear-gradient(rgba(83, 83, 83, 0.7), rgba(83, 83, 83, 0.7)), url(../images/menus-background.jpg);
     background-image: linear-gradient(rgba(83, 83, 83, 0.7), rgba(83, 83, 83, 0.7)), url(../images/menus-background.jpg);
     background-size: cover;
     background-position: center;
     height: auto;
     background-attachment: fixed;
     color: #e0e0e0;
}
 .menus-header, #starters, #mains, #desserts {
     list-style: none;
     padding-top: 30px;
}
 .menus li {
     font-weight: 400;
     font-size: 20px;
}
 .menus p {
     font-size: 15px;
}
 .menus .menu-price {
     font-size: 20px;
}
 #starters, #mains, #desserts {
     font-family: "Exo";
}
/*GALLERY*/
 .gallery .container-fluid, .gallery .col-3 {
     padding-right: 0;
     padding-left: 0;
}
 .gallery figure {
     margin: 0;
}
 .gallery .row {
     margin-right: 0;
     margin-left: 0;
}
 .meal-photo img {
     opacity: 1;
     height: auto;
     width: 100%;
     height: auto;
     -webkit-transform: scale(1.15);
     -ms-transform: scale(1);
     transform: scale(1);
     -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
     transition: opacity 0.5s, -webkit-transform 0.5s;
     -o-transition: transform 0.5s, opacity 0.5s;
     transition: transform 0.5s, opacity 0.5s;
     transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}
 .meal-photo img:hover {
     -webkit-transform: scale(1.03);
     -ms-transform: scale(1.03);
     transform: scale(1.03);
}
/*CONTACT US*/
 .center-form {
     padding-top: 10px;
     margin: 0 auto;
     max-width: 70%;
}
 .contact-us-header {
     padding-bottom: 5px;
     margin-top: 30px;
}
 button[type="submit"] {
     margin-top: 15px;
     margin-bottom: 20px;
     color: #fafafa;
     background-color: #e67e22;
}
/*FOOTER*/
 footer {
     background-color: #3f3f3f;
     padding: 20px;
     color: #818181;
     width: 100%;
}
 footer p {
     text-align: center;
}
 .social {
     text-align: center;
}
 .social-links {
     text-align: center;
}
 .social-links li {
     display: inline;
     font-size: 50px;
}
 .social-links li a i {
     color: #e67e22;
     padding: 0 10px;
}
 .fa-tripadvisor:hover {
     color: #00af87;
}
 .fa-instagram:hover {
     color: #833AB4;
}
 .fa-twitter:hover {
     color: #1da1f2;
}
 .fa-facebook:hover {
     color: #3b5998;
}
/*MEDIA QUERIES*/

/*Small devices (landscape phones, 576px and up*/
@media (min-width: 320px) {
     .header-name {
         font-size: 50px;
         margin-top: 50px;
     } 
     .reward {
         font-size: 20px;
         padding-bottom: 20px;
     }
     .social-links li a {
         font-size: 40px;
     }
     .reward-section {
         margin-top: -3rem;
     }
     .center-form {
         max-width: 100%;
     }
 }
 
/*Medium devices (tablets, 768px and up)*/
 @media (min-width: 600px) {
    /*breakpoint customized*/
      .header-name {
          font-size: 70px;
      }
      .reward {
          font-size: 20px;
      }
      .social-links li a {
         font-size: 50px;
     }
     .center-form {
         max-width: 100%;
     }
}

@media (min-width: 900px){
    .center-form {
         max-width: 80%;
     }
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 1200px) {
    /*breakpoint customized*/
    .customer {
         padding-top: 3rem;
     }
     .header-name {
          font-size: 90px;
      }
      .reward {
          font-size: 25px;
      }
    .center-form {
         max-width: 70%;
     }
     .menu-price-lunch {
        margin-top: 3.5rem;
     }
     .menu-price-dinner {
         margin-top: 2.5rem;
     }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .booking 
        margin-right: 5rem;
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1600px) {
     .customer {
         padding-top: 3rem;
    }
    .menu-price-lunch {
        margin-top: 0;
     }
     .menu-price-dinner {
         margin-top: 0;
     }
     
 }
}